
.navbar{
    margin: 0;
    padding: 0;
    display: flex;
}
.first{
    font-weight: 700;
    width: 50%;
    padding: 1rem;
}
.end{
    color: #2f72ff;
}
.nav{
   
    display: flex;
    justify-content: space-between;
    
    width: 50%;

}
.nav ul{
    display: flex;
  list-style: none;
}
.nav ul li a{
text-decoration: none;
color: black;
}
.nav ul li{
    padding: 0 20px;
}
button{

    padding: 8px;
    color: white;
    background-color: #2f72ff;
    border: 1px solid #2f72ff;
}
.home{
    background-image: url("images/bg.png");
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
.home div h1 {
    padding: 4rem;
}
.home div p{
    line-height: 2rem;
    
}
.btn {
    padding: 2rem;
    
}
.btn button:last-child{
    background: transparent;
    border: 1px  solid white;

}
.delivery {
    display: flex;

}
.delivery div {
    padding: 5rem;
    line-height: 3rem;
    justify-content: space-around;
}
.delivery div p {
    line-height: 2rem;
    font-weight: normal;
}
.Quality {
    background-image: url("images/Rectangle\ 11.png");
    background-repeat: no-repeat;
    background-size: cover;

    text-align: center;
    color: white;
    line-height: 2.5rem;
    padding: 10rem;
}
.services{
    text-align: center;
    color: black;
}
.airline{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    
    
}
.airline div{
    box-shadow: 0 0 4px 0px gray;
    
}
.airline div h3 {
    text-align: left;
    padding-left: 2rem;
} 
.airline  div p{
    font-size: 16px;
    padding: 2rem;
    text-align: left;
    
}
.contact {
    background-color: #2f72ff;
    height: 70vh;
    display: flex;
margin-top: 50px;
}
.foot {
    background-color: #2f72ff;
}
.contact div:first-child{
    padding: 3rem;
    color: white;

}
.contact div:first-child p{
    font-weight: 300;
}
